@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');
/* Page
====================*/

.wrapper {
    width: 100%;
    max-width: 740px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

/*====================*/

body {
    font-family: 'Righteous', cursive;
    color: white;
    text-align: center;
    margin: 0;
    background: #dd4848;
    background-image: url('https://i.imgur.com/BiSmXaq.png'), url('https://i.imgur.com/XHuy0NJ.png'), url('https://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 9s linear infinite;
    -moz-animation: snow 9s linear infinite;
    -ms-animation: snow 9s linear infinite;
    animation: snow 9s linear infinite;
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px, 0px, 0px, 0xp, 0xp, 0xp
    }

    50% {
        background-color: #dc5959
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #dd4848;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px, 0px, 0px, 0xp, 0xp, 0xp
    }

    50% {
        background-color: #dc5959
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #dd4848;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px, 0px, 0px, 0xp, 0xp, 0xp
    }

    50% {
        background-color: #dc5959
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #dd4848;
    }
}

@keyframes snow {
    0% {
        background-position: 0px, 0px, 0px, 0xp, 0xp, 0xp
    }

    50% {
        background-color: #dc5959
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #dd4848;
    }
}

h2 {
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}

#clockdiv {
    width: 1000px;
    width: 100%;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: red;
}

.inner {
    display: inline-block;
    border: 5px solid #dd4848;
    padding: 20px;
    width: 80px;
    height: 80px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.inner .smalltext {
    font-size: 20px;
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.6);
}

.days {
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.6);
}

.hours {
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.6);
}

.minutes {
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.6);
}

.seconds {
    text-shadow: 4px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-text {
    font-family: 'Anonymous Pro', monospace;
    font-size: 16px;
    line-height: 2;
    color: black;
    text-align: justify;
}